:root {
    --primary: rgb(241, 241, 241);
    --secondary: rgb(0, 0, 0);
    background-color: var(--primary);
    color: var(--secondary);
}

body {
    --horizontal-padding: 12%;

    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

main {
    position: relative;
    width: calc(100% - 2 * var(--horizontal-padding));
    height: 100%;
    padding: 3rem 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    margin: auto;
    overflow: hidden;
}

main #background {
    position: relative;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    justify-self: center;
}

main #background.translucent {
    opacity: 0.5;
}

main #background img {
    max-width: 100vw;
    object-fit: contain;
}

main > img {
    --size: 30%;

    position: absolute;
    width: var(--size);
    height: var(--size);
    object-fit: contain;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    padding: 0 2rem;
    box-sizing: border-box;
}

.slide {
    opacity: 0;
    transition: none;
    pointer-events: none;
}

.slide.active {
    opacity: 1;
    pointer-events: auto;
}

.arrow {
    --horizontal-padding: 1rem;
    --distance: 23%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    background: none;
    color: var(--primary);
    opacity: 0.7;
    font-size: 3rem;
    padding: 0.5rem var(--horizontal-padding);
    cursor: pointer;
}

#prev {
    left: var(--distance);
}

#next {
    right: var(--distance);
}

/* Vertical navigation */
#vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    max-width: var(--horizontal-padding);
    box-sizing: border-box;
    padding: calc(0.1 * var(--horizontal-padding));
    padding-top: calc(0.15 * var(--horizontal-padding));
}

#vertical-nav img {
    width: 80%;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
}

#vertical-nav img#logo {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    main {
        width: 100%;
    }
}
