@font-face {
    font-family: Source_Code_Pro;
    src: url(/Source_Code_Pro/static/SourceCodePro-Regular.ttf);
}

:root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(241, 241, 241);
    --back-black: rgb(0, 0, 0);
    background-color: var(--back-black);
    color: var(--secondary);
    font-family: Source_Code_Pro;
    letter-spacing: 3px;
    font-weight: 400;
}

body {
    --horizontal-padding: 12%;
    --inner-width: calc(100% - 2 * var(--horizontal-padding));

    margin: 0;
    width: 100vw;
    height: max-content;
    overflow-x: hidden;
    box-sizing: border-box;
}

#slideshow {
    position: relative;
    width: var(--inner-width);
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    overflow: hidden;
    max-height: 100vh;
}

#slideshow #square {
    --arrow-padding: 5rem;

    position: relative;
    max-width: 100%;
    width: max-content;
    max-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 3rem 0;
    box-sizing: border-box;
}

#slideshow #square.translucent {
    opacity: 0.5;
}

#slideshow #square img {
    max-width: 100%;
    object-fit: contain;
    padding: 0 var(--arrow-padding);
    box-sizing: border-box;
    max-height: 100%;
}

#slideshow > img {
    --size: 30%;

    position: absolute;
    width: var(--size);
    height: var(--size);
    object-fit: contain;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    padding: 0 2rem;
    box-sizing: border-box;
}

.slide {
    opacity: 0;
    transition: none;
    pointer-events: none;
}

.slide.active {
    opacity: 1;
    pointer-events: auto;
}

.arrow {
    --horizontal-padding: 1rem;
    --distance: calc(0.5 * var(--arrow-padding));

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    background: none;
    color: var(--secondary);
    opacity: 0.7;
    font-size: 3rem;
    padding: 0.5rem var(--horizontal-padding);
    cursor: pointer;
}

#prev {
    left: var(--distance);
}

#next {
    right: var(--distance);
}

/* Vertical navigation */
#vertical-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    max-width: var(--horizontal-padding);
    box-sizing: border-box;
    padding: calc(0.1 * var(--horizontal-padding));
    padding-top: calc(0.15 * var(--horizontal-padding));
}

#vertical-nav img {
    width: 80%;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
}

#vertical-nav .nav-item {
    margin-bottom: 0.25rem;
    cursor: pointer;
    user-select: none;
    position: relative;
}

#vertical-nav #logo-wrapper {
    width: 100%;
}

#vertical-nav .nav-item:not(#logo-wrapper) {
    width: 50%;
}

#vertical-nav .nav-item img {
    width: 100%;
    display: block;
    transition: filter 0.3s ease-in-out;
}

.nav-item.blue:hover img {
    filter: invert(32%) sepia(95%) saturate(4096%) hue-rotate(199deg) brightness(100%) contrast(95%);
}

.nav-item.red:hover img {
    /* Adjusted hue and saturation for a deeper red */
    filter: invert(15%) sepia(96%) saturate(8500%) hue-rotate(-15deg) brightness(95%) contrast(103%);
}

main {
    height: 100vh;
    width: 100%;
    padding-bottom: 2rem;
}

#background {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: var(--inner-width);
    height: 100%;
    box-sizing: border-box;
}

footer {
    --vertical-spacing: 1.75rem;

    background-color: var(--back-black);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: calc(3 * var(--vertical-spacing));
    position: relative;
    z-index: 4;
}

footer > * {
    margin: var(--vertical-spacing) 0;
}

footer #social-media-icons {
    padding: 0;
}

footer #social-media-icons svg {
    fill: white;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1;
    margin: 0 0.25rem;
    transition: fill 0.3s ease;
}

footer #social-media-icons:hover svg {
    fill: rgb(64, 64, 64);
}

footer #social-media-icons a:hover svg {
    fill: white;
}

@media only screen and (max-width: 800px) {
    :root {
        font-size: 8px;
    }
    #vertical-nav {
        position: unset;
        margin: auto;
        max-width: 10rem;
        padding-top: 2rem;
    }
    footer {
        font-size: 6px;
    }
}
